<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a NEW Listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" id="title" placeholder="Enter a catchy title" type="text" class="form-control"   required>
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                    <div class="invalid-feedback">
                        Title is required!
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description" placeholder="Enter Description" class="form-control"  required></textarea>
                    <div class="invalid-feedback">
                        Description should be valid!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]" id="image" type="file" class="form-control" required>
                </div>
                 <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" id="price" placeholder="1200"  class="form-control" required>
                        <div class="invalid-feedback">
                            Price should be valid!
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" id="country" placeholder="INDIA" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Country name should be valid!
                        </div>
                    </div>
                 </div>
               
    
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" id="location" placeholder="Jaipur, Rajasthan" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        Location should be valid!
                    </div>
                </div>
                <div class="mb-3">
                    <select name="listing[category]" class="form-label" id="category">
                        <option value="mountains">Mountains</option>
                        <option value="trending">Trending</option>
                        <option value="rooms">Rooms</option>
                        <option value="castles">Castles</option>
                        <option value="iconic">Iconic</option>
                        <option value="pools">Pools</option>
                        <option value="camping">Camping</option>
                        <option value="farms">Farms</option>
                        <option value="arctic">Arctic</option>
                        <option value="dome">Dome</option>    
                    </select>

                </div>
                <br><br>
                <button class="btn btn-dark add-btn"> ADD PLACE</button>
            </form>
            <br><br>
        </div>
    </div>
    <div class="container">
       
    </div>
</body>


    <!-- dusra tarika -->
    <!-- <form method="post" action="/listings"></form>
    <input name="listing[title]" placeholder="enter title" type="text">
        <br>
        <br>
        <textarea name="listing[description]" placeholder="enter description"></textarea>
        <br>
        <br>
        <input name="listing[image]" placeholder="paste image link" type="text">
        <br>
        <br>
        <input name="listing[price]" placeholder="enter price of stay" type="number">
        <br>
        <br>
        <input name="listing[location]" placeholder="enter location" type="text">
        <br>
        <br>
        <input name="listing[country]" placeholder="enter country" type="text">
        <br>
        <br>
        <button type="listing[submit]"> ADD PLACE</button>
    </form> -->
