

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    flex: 1;
  }
  
  .navbar {
    height: 5rem;
    background-color: white;
  }
  
  .fa-compass {
    color: #fe424d;
    font-size: 2rem;
  }
  
  .nav-link {
    color: #222222 !important;
  }
  
  /* Footer */
  .f-info-links a {
    text-decoration: none;
    color: #222222;
  }
  
  .f-info-links a:hover {
    text-decoration: underline;
  }
  
  .f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  
  .f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
  }
  
  /* Cards */
  .listing-card {
    border: none !important;
    margin-bottom: 2rem;
  }
  
  .card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
  }
  
  .card-body {
    padding: 0 !important;
  }
  
  .card-text p {
    font-weight: 400;
  }
  
  .listinglink {
    text-decoration: none !important;
  }
  
  /* Card Effect */
  .card-img-overlay {
    opacity: 0;
  }
  
  .card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
  }
  
  .add-btn {
    background-color: #fe424d !important;
    border: none !important;
  }
  
  /* Edit Page */
  .edit-btn {
    background-color: #fe424d !important;
    border: none !important;
  }
  
  /* Show Page */
  .show-img {
    height: 30vh;
  }
  
  .btns {
    display: flex;
  }
  
  .show-card {
    padding-left: 0;
    padding-right: 0;
  }
  

  /* Filters */
  #filters {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }
  /* Optional: Hide scrollbar for a cleaner look */
#filters::-webkit-scrollbar {
  display: none;
}

#filters {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 2.8rem;
  padding: 1rem;
  /* margin-left: 1rem; */
  display: flex;
  align-items: center;
}

.btn-search{
  background-color: #fe424d;
  color:white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}
.btn-search:hover{
  background-color: #fe424d;
  color:white
}
.btn-search i{
  display: inline;
  margin-right: 0.5rem;
}
.search-input{
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1rem;
}

.home{
  background-color: #fe424d;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
  
  
}

/* Your other CSS rules */
